body {
    width:320px;
    overflow-x:hidden;
    margin: auto;
    font: 16px "Myriad Pro" , "Helvetica Neue" ,Helvetica,Arial,Sans-Serif;
    font-weight: bold;
    color: #4D4D4D;
    line-height: 1.286;
}

img {
    margin:5px 10px;
    border:1px solid black;
    vertical-align:middle;
    width: 300px;
    height: 168.75px;
}

div.main {
    border-top: 10px solid #444750;
    background-color: #EBEBEB;
    cursor: pointer;
}

div > div {
    border-width: 1px 0 0px 0;
    border-color: silver;
    border-style: solid;
    background-color: #E1E1E1;
    padding: 5px 10px 5px 10px;
    word-wrap: break-word;
    vertical-align: top;
}

div.info div {
    text-transform: uppercase;
    display: inline-block;
    border: 0px;
    width: 180px;
    text-align: right;
    padding: 0;
}

div.info div:first-child {
    width: 120px;
    text-align: left;
}

div.info div span {
    font-size: 0.6em;
}

div.title {
    background-color: rgba(153, 153, 153, 0.55);
    padding: 20px;
}